### scipy-notebook

beautifulsoup4==4.6.*
bokeh==0.13.*
cloudpickle==0.5.*
cython==0.28.*
dask==1.1.1
dill==0.2.*
distributed==1.26.0
filterpy==1.4.*
graphviz==0.10.*
h5py==2.7.*
imutils==0.5.*
ipywidgets==7.2.*
jupyter_kernel_gateway==2.2.0
jupyterhub==1.0.0
jupyterlab==0.35.4
matplotlib==2.2.*
mysql-connector==2.2.*
notebook==5.7.4
numba==0.38.*
numexpr==2.6.*
opencv-contrib-python-headless==4.1.*
pandas==0.23.*
patsy==0.5.*
protobuf==3.*
psycopg2==2.8.*
pydotplus==2.0.*
resampy==0.2.*
s3contents==0.1.12
scikit-image==0.14.*
scikit-learn==0.20.*
scipy==1.1.*
seaborn==0.9.*
sqlalchemy==1.2.*
statsmodels==0.9.*
sympy==1.1.*
tornado<6.0.0
tqdm==4.31.*
vincent==0.4.*
xlrd==1.2.*

### pyspark
pyspark==2.4.3
